# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Backend
backend/**/bin
backend/**/obj
backend/**/*.db
backend/**/*.db-shm
backend/**/*.db-wal

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
